.side-navbar {
    width: 20%;
    height: 100vh;
    background-color: var(--primary-col);
    /* background-color: pink; */
    position: relative;
    border-radius: 0 20px 20px 0;
    display: grid;
    grid-template-rows: 25% 65% 10%;
    transition: width 0.2s;
    z-index: 20;
}

.side-navbar.min {
    width: 5%;
}

.side-navbar > .nav-minimise {
    position: absolute;
    top: 20px;
    right: 20px;
}

.side-navbar.min > .nav-minimise {
    position: relative;
    top: 20px;
    left: 20px;
    height: fit-content;
    width: fit-content;
    grid-row: 1/ 2;
}

.side-navbar > .nav-minimise > .minimise-btn {
    background: none;
    border: none;
}

.side-navbar > .nav-minimise > .minimise-btn:hover {
    cursor: pointer;
}

.side-navbar > .user-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-row: 1 / 2;
}

.side-navbar.min > .user-header {
    display: none;
}


.side-navbar > .user-header > .user-picture-container {
    max-height: 40%;
    max-width: 20%;
    border-radius: 100%;
    border: 2px solid;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-navbar > .user-header > .user-picture-container > img {
    max-height: 100%;
    max-width: 100%;
}

.side-navbar > .nav-links {
    grid-row: 2 / 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side-navbar > .nav-links > .nav-link {
    list-style: none;
    max-width: 100%;
}

.side-navbar > .nav-links > .nav-link:hover {
    background-color: #88adfe;
}


.side-navbar > .nav-links > .nav-link > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
}

.side-navbar > .nav-links > .nav-link > a {
    font-size: x-large;
}

.side-navbar > .nav-links > .nav-link > a > p {
    margin-left: 10px;
}

.side-navbar.min > .nav-links > .nav-link > a > p {
    display: none;
}
