.dashboard-grid {
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 1.5rem;
    height: 100vh;
}


.dashboard-grid > div {
    border-radius: 10px;
    padding: 10px;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.dashboard-grid > div::-webkit-scrollbar {
    display: none;
}


.dashboard-grid > .income-chart {
    background-color: yellow;
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    /* display: flex;
    flex-direction: column; */
}

.dashboard-grid > .goals {
    background-color: red;
    grid-row: 1 / 4;
    grid-column: 5 / -1;
    /* height: 330px; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}



.dashboard-grid > .budget {
    background-color: green;
    grid-row: 4 / -1;
    grid-column: 1 / 3;
    overflow-y: scroll;
}


.dashboard-grid > .budget > #budget-date-selector-form {
    display: flex;
    background-color: aqua;
    padding: 10px 0;
}

.dashboard-grid > .budget > #budget-date-selector-form > select {
    padding: 5px;
}

.dashboard-grid > .budget > #budget-date-selector-form > select:nth-child(2) {
    margin: 0 10px;
}

.dashboard-grid > .budget > #budget-date-selector-form > button {
    background: none;
    border: none;
}

.dashboard-grid > .budget > #budget-date-selector-form > button:hover {
    cursor: pointer;
}

.dashboard-grid > .transactions {
    background-color: blueviolet;
    grid-row: 4 / -1;
    grid-column: 3 / 5;
}

.dashboard-grid > .accounts {
    background-color: darkorange;
    grid-row: 4 / -1;
    grid-column: 5 / -1;
}

@media screen and (max-width: 1224px) {
    .dashboard-grid {
        display: flex;
        flex-direction: column;
    }
}