.profile-container {
    padding: 1.5rem;
    width: 100%;
}

.profile-container > .profile-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container > .profile-page-header > h1 {
    color: var(--primary-col);
}

.profile-container > .profile-page-header > button {
    background: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: orange;
}

.profile-container > .profile-page-header > button:hover {
    cursor: pointer;
}

.profile-container > .profile-page-header > button > svg {
    margin-right: 5px;
}

.profile-container > .user-profile {
    padding: 1.5rem;
}

.profile-container > .user-profile > .user-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}