#goal-modal-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 10px 20px;
}

#goal-modal-form > div:not(.save-btn-container) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#goal-modal-form > div > label {
    font-size: larger;
    margin-bottom: 5px;
}

#goal-modal-form > div > input {
    padding: 5px 0 5px 5px;
    font-size: larger;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
}

#goal-modal-form > .goal-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#goal-modal-form > .goal-desc {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#goal-modal-form > .goal-end-date {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#goal-modal-form > .goal-end-amount {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#goal-modal-form > .goal-desc > textarea {
    padding: 5px 0 5px 5px;
    font-size: larger;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
}

#goal-modal-form > .save-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


/* Update form */

#goal-update-form {
    margin-top: 50px;
    width: 100%;
}

#goal-update-form > div{
    width: 100%;
}

#goal-update-form > .amount-slider{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#goal-update-form > .amount-slider > .slider-control-btns {
    background: none;
    border: none;
}

#goal-update-form > .amount-slider > button:hover {
    cursor: pointer;
}

#goal-update-form > .amount-slider > .slider-control-btns > svg {
    font-size: xx-large;
    color: var(--primary-col);
}

#goal-update-form > .amount-slider > #amount-slider-component {
    margin: 0 30px;
    font-size: xx-large;
}

#goal-update-form > .save-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}