#goal-modal-form {
    margin-top: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 10px 20px;
}

#goal-modal-form > div:not(.save-btn-container) {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* 
#goal-modal-form > div:not(.goal-name) {
    margin: 10px 0;
} */


#goal-modal-form > div > label {
    font-size: larger;
    margin-bottom: 5px;
}

#goal-modal-form > div > input {
    padding: 5px 0 5px 5px;
    font-size: larger;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
}

#goal-modal-form > .goal-name {
    /* margin-bottom: 10px; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#goal-modal-form > .goal-desc {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#goal-modal-form > .goal-end-date {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#goal-modal-form > .goal-end-amount {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#goal-modal-form > .goal-desc > textarea {
    padding: 5px 0 5px 5px;
    font-size: larger;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
}


#goal-modal-form > .save-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}