.portfolio-card {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    /* background-color: rgba(80, 78, 78, 0.1); */
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    /* box-shadow: rgba(128, 133, 138, 0.2) 0px 5px 10px; */
    background-color: #F5F5F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-card:not(:nth-child(1)) {
    margin: 40px 0;
}

.portfolio-card:hover {
    transform: scale(1.01);
    transition: transform ease 0.2s;
}

.portfolio-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-card > .portfolio-logo-container {
    align-items: center;
}

.portfolio-card > .portfolio-logo-container > span{
    font-size: 4rem;
}

.portfolio-card > .portfolio-value {
    align-items: center;
}

.portfolio-card > .view-portfolio-icon-container {
    align-items: flex-end;
    padding-right: 20px;
}

.portfolio-card > .view-portfolio-icon-container > .view-portfolio-btn {
    border: none;
    background: none;
    color: var(--primary-col);
}

.portfolio-card > .view-portfolio-icon-container > .view-portfolio-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .portfolio-card {
        grid-template-columns: 1fr 6fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .portfolio-card > .portfolio-logo-container {
        grid-row: 1 / 2;
        grid-column: span 1;
    }
    
    .portfolio-card > .portfolio-name {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        padding: 0 10px;
    }
    
    .portfolio-card > .portfolio-value {
        grid-row: 2 / 4;
        grid-column: 1 / 5;
    }
    
    .portfolio-card > .view-portfolio-icon-container {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
    }
}