.company-details-container {
    padding: 1rem;
    width: 100%;
    background-color: yellow;
    height: 80%;
}

.company-details-container > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.company-details-container > header > .action-btns {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.company-details-container > header > .action-btns > button {
    background: none;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 2px 2px 3px #737373;
}

.company-details-container > header > .action-btns > .shares-buy-btn {
    margin-right: 10px;
    background-color: #0ADA06;
    color: #fff;
}

.company-details-container > header > .action-btns > .shares-sell-btn {
    background-color: #FF0000;
    color: #fff;
}

.company-details-container > header > .action-btns > button:hover {
    cursor: pointer;
}

.company-details-container > header > .action-btns > button > svg {
    margin-right: 5px;
}

.company-details-container > .company-details-grid {
    height: 90%;
}

.company-details-container > .company-details-grid > div {
    border-radius: 10px;
    padding: 10px;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    background-color: #fff;
    box-shadow: 1px 2px 5px #5c5c5c;
    z-index: 10;
}


.company-details-container > .company-details-grid > .grid-carousel {
    height: 100%;
}
