.accounts-container {
    padding: 1.5rem;
    width: 100%;
}

.accounts-container > .accounts-header > h1{
    color: var(--primary-col);
}

.accounts-container > .accounts-count-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 1.5rem;
}

.accounts-container > .accounts-count-sort > p{
    font-size: large;
}

.accounts-container > .accounts-count-sort > .accounts-sort > label{
    font-size: large;
    margin-right: 10px;
}

.accounts-container > .accounts-count-sort > .accounts-sort > select {
    padding: 5px;
    font-size: medium;
    margin: 0 10px;
    border-radius: 5px;
}

.accounts-container > .accounts-list {
    padding: 1.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.accounts-container > .accounts-list > p{
    text-align: center;
}

.accounts-container > .accounts-list::-webkit-scrollbar {
    display: none;
}
