.accounts-container {
    padding: 1.5rem;
    width: 100%;
    max-height: 100vh;
}

.accounts-container > .accounts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.accounts-container > .accounts-header > h1{
    color: var(--primary-col);
}

.accounts-container > .accounts-header > .accounts-action-btn{
    padding-right: 30px;
}

.accounts-container > .accounts-header > .accounts-action-btn > button {
    background: none;
    border-radius: 10px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--primary-col);
}

.accounts-container > .accounts-header > .accounts-action-btn > button:hover {
    cursor: pointer;
}

.accounts-container > .accounts-count-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 1.5rem;
}

.accounts-container > .accounts-count-sort > p{
    font-size: large;
}

.accounts-container > .accounts-count-sort > .accounts-sort > label{
    font-size: large;
    margin-right: 10px;
}

.accounts-container > .accounts-count-sort > .accounts-sort > select {
    padding: 5px;
    font-size: medium;
    margin: 0 10px;
    border-radius: 5px;
}

.accounts-container > .accounts-list {
    padding: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    max-height: 500px;
}

.accounts-container > .accounts-list > p{
    text-align: center;
}

.accounts-container > .accounts-list::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1224px) {
    .accounts-container {
        height: fit-content;
    }
}