.list-card {
    margin: 10px 0;
    background-color: #e7e6e6;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-card > .card-name {
    display: flex;
    align-items: center;
}

.list-card > .card-name > span {
    margin-right: 10px;
}

.list-card > .card-name > svg {
    margin-right: 10px;
}