.main-top-navbar {
    width: 100%;
    background-color: var(--primary-col);
    border-radius: 0 0 20px 20px;
    padding: 10px 20px;
}


.main-top-navbar.expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 60vh;
    position: fixed;
    z-index: 100;
}

.main-top-navbar > .nav-minimise {
    width: 100%;
}

.main-top-navbar > .nav-minimise > .minimise-btn {
    background: none;
    border: none;
    color: #fff;
}

.main-top-navbar > .nav-minimise > .minimise-btn:hover {
    cursor: pointer;
}

.main-top-navbar > .user-header {
    display: none;
}

.main-top-navbar.expanded > .user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.main-top-navbar.expanded > .user-header > .name-email {
    display: none;
}

.main-top-navbar.expanded > .user-header > .logo-container {
    max-height: 90%;
    max-width: 60%;
}

.main-top-navbar.expanded > .user-header > .logo-container > img {
    height: 100%;
    width: 100%;
}


.main-top-navbar > .nav-links {
    display: none;
}

.main-top-navbar.expanded > .nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.main-top-navbar.expanded > .nav-links::-webkit-scrollbar {
    display: none;
  }
  


.main-top-navbar.expanded > .nav-links > .nav-link {
    list-style: none;
    width: 100%;
    margin: 0;
}

.main-top-navbar.expanded > .nav-links > .nav-link:hover {
    background-color: #88adfe;
}

.main-top-navbar.expanded > .nav-links > .nav-link > a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 20px;
    font-size: x-large;
    color: #fff;
}

.main-top-navbar.expanded > .nav-links > .nav-link > a > p {
    margin-left: 10px;
}
