.company-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    height: 100%;
    justify-items: center;
}

.company-metrics > h2 {
    margin-bottom: 10px;
    grid-row: 1 / 2;
    justify-self: flex-start;
}

.company-metrics > div {
    margin: 10px 0;
    padding: 0 20px;
    width: 400px;
    text-align: center;
}

.company-metrics > div > h3{
    margin-bottom: 10px;
    position: relative;
    color: var(--primary-col);
}

.company-metrics > div > h3 > svg{
    font-size: medium;
    position: absolute;
    bottom: 15px;
    color: #6a6a6a;
}

.company-metrics > div > p{
    padding: 0 20px;
    font-size: large;
}

.company-metrics > .pe-ratio {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.company-metrics > .pb-ratio {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.company-metrics > .eps {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.company-metrics > .gross-profit-margin {
    grid-column: 1 / 2;
    grid-row: 5 / -1;
}

.company-metrics > .de-ratio {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.company-metrics > .roa {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.company-metrics > .roe {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.company-metrics > .dividend-yield {
    grid-column: 2 / 3;
    grid-row: 5 / -1;
}

@media screen and (max-width: 800px) {
    .company-metrics {
        display: flex;
        flex-direction: column;
    }

    .company-metrics > div {
        margin: 20px 0;
        padding: 0 20px;
        text-align: start;
        width: 350px;
    }
    
}