.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-container > p {
    text-align: center;
}