.transactions-dropdown {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: #fff;
    box-shadow: 1px 2px 8px rgba(95, 95, 95, 0.948);
    border-radius: 10px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.transactions-dropdown > .transaction-btns-container > button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--primary-col);
    font-size: medium;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
}

.transactions-dropdown > .transaction-btns-container > button:hover {
    cursor: pointer;
}

.transactions-dropdown > .transaction-btns-container > button > svg{
    margin-right: 5px;
}

.transactions-dropdown > .transactions-sort {
    display: flex;
    flex-direction: column;
}

.transactions-dropdown > .transactions-sort > label{
    font-size: large;
    margin: 10px 0;
}

.transactions-dropdown > .transactions-sort > select {
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
}