.portfolios-count-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 1.5rem;
}

.portfolios-count-sort > p{
    font-size: large;
}

.portfolios-count-sort > .portfolios-sort > label{
    font-size: large;
    margin-right: 10px;
}

.portfolios-count-sort > .portfolios-sort > select {
    padding: 5px;
    font-size: medium;
    margin: 0 10px;
    border-radius: 5px;
}
